# CityBikes

Send a request to CityBikes for the city of your choice.

In [2]:
import requests
import pandas as pd

In [3]:
url = 'http://api.citybik.es/v2/networks'
response = requests.get(url)
data = response.json()

data.keys()
data['networks'][0]

{'id': 'abu-dhabi-careem-bike',
 'name': 'Abu Dhabi Careem BIKE',
 'location': {'latitude': 24.4866,
  'longitude': 54.3728,
  'city': 'Abu Dhabi',
  'country': 'AE'},
 'href': '/v2/networks/abu-dhabi-careem-bike',
 'company': ['Careem'],
 'gbfs_href': 'https://dubai.publicbikesystem.net/customer/gbfs/v2/en/gbfs.json'}

In [4]:
paris_url = 'http://api.citybik.es/v2/networks/velib'
response = requests.get(paris_url)
paris_data = response.json()

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [5]:
paris_data.keys()
paris_data['network'].keys()

dict_keys(['id', 'name', 'location', 'href', 'company', 'license', 'ebikes', 'gbfs_href', 'stations'])

In [6]:
paris_data['network']['stations'][0]

{'id': '0003131bffcf527ba3a560fc46d38b6f',
 'name': 'Argenson - Château',
 'latitude': 48.888559314669514,
 'longitude': 2.2642001509666447,
 'timestamp': '2025-05-02T23:33:43.818025+00:00Z',
 'free_bikes': 6,
 'empty_slots': 16,
 'extra': {'uid': '22002',
  'renting': 1,
  'returning': 1,
  'last_updated': 1746228241,
  'slots': 0,
  'virtual': False,
  'station_id': 34300292,
  'banking': False,
  'payment-terminal': False,
  'normal_bikes': 4,
  'ebikes': 2}}

In [7]:
stations = paris_data['network']['stations']
len(stations) 
# Checking how many stations are available in this network to make sure there is enough to work with.

1462

Put your parsed results into a DataFrame.

In [8]:
df_bikes_paris = pd.DataFrame(stations) 
# Naming clearly my DataFrame to avoid confusing with potential future DataFrames later.
df_bikes_paris = df_bikes_paris[['name', 'latitude', 'longitude', 'free_bikes', 'empty_slots']]
# I included the name just in case and chose to represent the number of bikes with 'free_bikes' and 'empty_slots', since 'slots' was 0 in a few examples I checked earlier.
df_bikes_paris['total_number_bikes'] = df_bikes_paris['free_bikes'] + df_bikes_paris['empty_slots']
df_bikes_paris['station_id'] = df_bikes_paris.index
# I added also a station_id corresponding to the index of the station, to be able to join smoothly the DataFrames later on.
df_bikes_paris = df_bikes_paris[:200] 
# I limited the dataset to 200: it should be enough for the analysis without making overwhelming or messy for future merging and loading.
df_bikes_paris.head()

,name,latitude,longitude,free_bikes,empty_slots,total_number_bikes,station_id
0,Argenson - Château,48.888559,2.264200,6,16,22,0
1,Saint Lambert - Blomet,48.836591,2.293056,22,3,25,1
2,Saint-Maur - République,48.864186,2.378317,19,19,38,2
3,Mairie de Rosny-sous-Bois,48.871257,2.486581,17,8,25,3
4,Mouton Duvernet - Général Leclerc,48.831633,2.329312,3,25,28,4

In [9]:
df_bikes_paris.to_csv('bikes_paris_csv.csv', index = False)